.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e3e3e3;
  padding: 1% 2%;
}
.logo-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 20%;
}
.react-sneak-h4 {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-top: 4%;
}
.react-sneak-h5 {
  font-weight: 400;
  font-size: 14px;
  color: #9d9d9d;
  margin-top: -5%;
}
.slider-img {
  width: 80%;
  margin-top: 3%;
}
.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-h {
  margin-top: 3%;
  font-weight: 700;
  font-size: 32px;

  margin-bottom: 3%;
}
.item {
  border: 1px solid #e3e3e3;
  border-radius: 40px;
  padding: 2% 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  scale: 1;
  transition: all 0.3s;
}
.sneak-row {
  display: flex;
  align-items: center;
  margin-left: 1.5%;
}
.item-img {
  width: 85%;
}
.cart-block {
  position: relative;
}
.span-cart {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  width: 17px;
  height: 17px;
  border-radius: 25px;
  padding: 0% 15%;
  color: #fff;
  font-size: 12px;
}
.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-str {
  margin-top: -20px;
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 20%;
  }
}
.add-btn {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  width: 37px;
  height: 37px;
  color: #f2f2f2;
  font-weight: 700;
  font-size: 20px;
  box-sizing: border-box;
  margin-top: -10px;
  scale: 1;
  transition: all 0.3s;
}
.added {
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  border: 1px solid #9dd458;
  color: #fff;
  border-radius: 8px;
  animation: add 1s 1 ease;
}
.added:hover {
  color: #fff;
}
@keyframes add {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.add-btn:hover {
  color: #a3a3a3;
  border: 1px solid #bebebe;
  transition: all 0.3s;
}
.cart-btn {
  cursor: pointer;
}
.cart-btn:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.price-p {
  color: #bdbdbd;
  font-size: 13px;
}
#str-p {
  color: #000000;
  font-size: 17px;
}
#str-p-b {
  color: #000000;
  font-size: 17px;
}
.item:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-10px);
  transition: all 0.3s;
}
.cart-div {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  z-index: 1001;
  background-color: #fff;
  height: 100vh;
  padding: 1% 1.5%;
  display: block;
  border-left: 1px solid #9d9d9d;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(400px);
  scale: 1;
  transition: all 0.5s;
}
.show {
  transform: translateX(0px);
  transition: all 0.5s;
}
.cart-scroll-block {
  height: 78vh;
  overflow-y: auto;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  padding: 2% 3%;
}
.price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-img {
  width: 35%;
}
.times-cart-btn {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  color: #dbdbdb;
  margin-right: 10px;
}
.times-cart-btn:hover {
  border-color: #9d9d9d;
  color: #9d9d9d;
  transition: all 0.3s;
}
.cart-p-div {
  margin-left: 3%;
}
.inactive {
  opacity: 0.3;
}
.cart-remove-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  background-color: #9dd458;
  color: #fff;
  border: 1px solid #9dd458;
  padding: 2% 7%;
  border-radius: 25px;
  width: 70%;
}
.cart-remove-btn:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
.empty-cart {
  display: grid;
  place-items: center;
  margin-top: 70%;
}
.icons-div {
  display: flex;
  gap: 15px;
}
.swiper-button-next,
.swiper-button-prev {
  padding: 3% 8%;
}

body a {
  color: transparent;
  text-decoration: none;
}
.like-btn {
  position: absolute;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  background-color: #fff;
  width: 37px;
  height: 37px;
  scale: 1;
  color: #f2f2f2;
  font-size: 25px;
  transition: all 0.3s;
  cursor: pointer;
}
.like-btn:hover {
  border: 1px solid #bebebe;
  transition: all 0.3s;
  color: #bebebe;
}
.liked {
  background-color: #fef0f0;
  border-color: #f07a7a;
  color: #f07a7a;
}
.liked:hover {
  background-color: #fef0f0;
  border-color: #f07a7a;
  color: #f07a7a;
}
.like-div {
  margin-top: 3%;
}
.likes-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-remove-btn {
  background-color: #9dd458;
  color: #fff;
  border: 1px solid #9dd458;
  padding: 10px 35px;
  border-radius: 25px;
  margin-top: 10px;
  scale: 1;
  transition: all 0.3s;
}
.like-remove-btn:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
.empty-like {
  display: grid;
  place-items: center;
  margin-top: 10%;
}
.modal {
  display: block;
  transform: translateY(0px);
  transition: all 0.5s;
  position: absolute;
}
.inactive-modal {
  transition: all 0.5s;
  display: grid;
  position: absolute;
  transform: translateY(-400px);
  right: 30%;
}

@media screen and (max-width: 391px) {
  .logo {
    width: 17%;
  }
  .react-sneak-h4 {
    font-size: 16px;
  }
  .react-sneak-h5 {
    font-size: 12px;
  }
  .cart-btn {
    width: 80%;
  }
  .span-cart {
    width: 15px;
    height: 15px;
    right: 2px;
    top: -1px;
    font-size: 10px;
  }
  .slider-img {
    width: 90%;
    margin-top: 5%;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .list-h {
    margin-top: 10%;
    font-size: 17px;
    margin-bottom: 7%;
  }
  .item {
    width: 28%;
    border-radius: 10px;
  }
  .item-p {
    font-size: 11px;
  }
  .price-p {
    font-size: 9px;
  }
  #str-p {
    font-size: 10px;
  }
  #str-p-b {
    font-size: 10px;
  }
  .add-btn {
    font-size: 15px;
    width: 25px;
    height: 25px;
  }
  .like-btn {
    font-size: 16px;
    width: 25px;
    height: 25px;
  }
  .item-img {
    margin-left: 3px;
  }
  .empty-like-img {
    width: 13%;
  }
  .empty-like-h {
    font-size: 19px;
  }
  .empty-like-h5 {
    font-size: 16px;
  }
  .like-remove-btn {
    padding: 5px 25px;
  }
}
@media screen and (max-width: 992px) {
  .item {
    width: 28%;
  }
  .item-p {
    font-size: 13px;
  }
  .price-p {
    font-size: 11px;
  }
  #str-p {
    font-size: 13px;
  }
  #str-p-b {
    font-size: 13px;
  }
  .add-btn {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }
  .like-btn {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
  .item-img {
    margin-left: 3px;
  }
  .list-h {
    font-size: 24px;
  }
  .logo {
    width: 20%;
  }
  .react-sneak-h4 {
    font-size: 18px;
  }
  .react-sneak-h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .item {
    width: 29%;
    border-radius: 21px;
  }
  .item-p {
    font-size: 12px;
  }
  .price-p {
    font-size: 11px;
  }
  #str-p {
    font-size: 13px;
  }
  #str-p-b {
    font-size: 13px;
  }
  .add-btn {
    font-size: 17px;
    width: 29px;
    height: 29px;
  }
  .like-btn {
    font-size: 18px;
    width: 29px;
    height: 29px;
  }
  .item-img {
    margin-left: 3px;
  }
  .list-h {
    font-size: 24px;
  }
  .logo {
    width: 20%;
  }
  .react-sneak-h4 {
    font-size: 16px;
  }
  .react-sneak-h5 {
    font-size: 12px;
  }
  .cart-btn {
    width: 85%;
  }
  .span-cart {
    width: 15px;
    height: 15px;
    right: 2px;
    top: -1px;
    font-size: 10px;
  }
}
@media screen and (max-width: 503px) {
  .item-p {
    font-size: 10px;
  }
  #str-p {
    font-size: 13px;
  }
  #str-p-b {
    font-size: 13px;
  }
  .add-btn {
    font-size: 17px;
    width: 29px;
    height: 29px;
  }
  .like-btn {
    font-size: 18px;
    width: 29px;
    height: 29px;
  }
  .item-img {
    margin-left: 3px;
  }
  .list-h {
    font-size: 18px;
  }
  .logo {
    width: 19%;
  }
  .react-sneak-h4 {
    font-size: 14px;
  }
  .react-sneak-h5 {
    font-size: 10px;
  }
  .cart-btn {
    width: 85%;
  }
  .span-cart {
    width: 15px;
    height: 15px;
    right: 2px;
    top: -1px;
    font-size: 10px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .empty-cart-img {
    width: 25%;
  }
}
.foot-p {
  font-size: 17px;
  font-weight: 700;
  color: #616161;
}
.footer {
  background-color: #f2f2f2;
  padding-top: 1%;
  display: grid;
  place-items: center;
  margin-top: 2%;
}
